



/* All Sections  */

.inline {display:flex;}
.ruby  {display: ruby;}
.jcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-1 {margin-top: 10px}
.mt-2 {margin-top: 20px}
.ml-2 {margin-left: 20px}

h1 {
    font-size: 38px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

h3 {
    padding-left: 4px;
    color: white;
    font-size: 26px;
}



/* account   */

.account {
    height: 60px;
    padding-top: 8px;
    background-color: lightslategray;
    border-top: 6px solid #141461;
    border-bottom: 6px solid #141461;
}

.navbar {
    height: 60px;
    padding-top: 8px;
    border: 6px solid #141461;
}

/* Hero / Listing / search bar  */


#hero {
    border-top: 12px solid lightslategray;
    margin-top: 48px;
    height: 300px;
    background-color: #303088;
    border-bottom: 12px solid lightslategray;


}

#hero .search-bar {
    padding-top: 60px;
}

.btn-primary {
    background-color: #303088;
}



/* Display vehicles  */

.header-bar {
    /* background-color:  red; */
    background-color:  lightslategray;
    border-bottom: 8px solid #141461;
    height: auto;

}

.card {
    white-space: normal;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card-img-top {
    min-height: 190px;
    max-height: 190px;
}


.vehicle-scroll-box {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 8px;
}

.vehicle-scroll-box .row {
    flex-wrap: nowrap;       
}

.vehicle-scroll-box .col-lg-3 {
    display: inline-block;    
    float: none;
    width: 280px;             
}

